#---------------------------------------------
#---28/05/2022 complet
#---------------------------------------------
version: "3.4"
services:
  #flask_datavisu-------------          
  flask_datavisu:
    container_name: flask_datavisu
    build: ./Flask
    links:
    - mysql_db
    ports:
    - "5000:5000"
    depends_on:
        - mysql_db

  #collecteur-------------          
  collecteur:
  # image: collecteur
    build: ./Collecteur
    container_name: collecteur
    command: python3 mainCollector.py
    links:
    - mysql_db
    ports:
      - '10001:10001' 
    depends_on:
        - mysql_db  


  #mysql_db-------------          
  mysql_db:
    container_name: mysql_db
    image: mysql:8.0.21
    ports:
      - "30000:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./_Datas_Utils/_MySQL:/docker-entrypoint-initdb.d/:ro

  #phpmyadmin-------------          
  phpmyadmin:
      depends_on:
       - mysql_db
      image: phpmyadmin/phpmyadmin
      container_name: phpmyadmin
      restart: always
      ports:
       - '8080:80'
      environment:
        PMA_HOST: mysql_db
 
   #unitées-------------
   #--unitée1-------------     
  unite1:
     # image: unite1
      build: ./Unities/Unit1
      container_name: 'unite1'
      command: python3 appU1.py
      network_mode: host
      ports:
        - '10002:10002'
      depends_on:
        - collecteur

volumes:
   tp_datavisu_aubonbeurre:


               